.docs-main{
  text-align: center;
  color: blueviolet;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.add-docs{
  font-size: medium;
  color: green;
  height: 40px;
  width: 200px;
  border: none;
  cursor: pointer;
}